/* Style for body specifies a background color */
body {
 background-color: #FFF;
   background: linear-gradient(black,orange,black);
}

/* Style to create a fluid image */
img {
 max-width: 100%;
}

/* Style for Mobile Layout*/

/* Style for container centers the page and sets the element width */
#container {
 width: 100%;
 margin-left: auto;
 margin-right: auto;
}

/* Style for header specifies top margin, background color, rounded corners, center-align content */
header{
 text-align: center;
}

/* Style for nav specifies text properties */
nav {
 font-family: Verdana, "Times New Roman", serif;
 font-size: 1.25em;
 font-weight: bold;
 text-align: center;
 margin-top: -0.5em;
}

/* khoang cach giua cac nav */
nav ul{
 padding: 0;
 margin-top: 0.5em;
 margin-bottom: 0.5em;
}

/* thiet ke nav cho mobile*/
nav li {
 background-color: yellow;
 border-radius: 2em;
 list-style-type: none;
 margin: 0.3em;
 padding: 0.4em;
}

/* mau chu mobile*/
nav li a{
 color: red;
 text-decoration: none;
}

/* Style displays the mobile class */
.mobile {
 display: inline;
}

/* Style hides the desktop class */
.desktop {
 display: none;
}

/* Style for main specifies a block display, text properties, margins, padding, rounded corners, and border properties */
main {
 display: block;
 font-family: Verdana, Arial, sans-serif;
 font-size: 1em;
 margin-top: 0.5em;
 padding: 1em;
 border-radius: 2em 0 2em 0;
 background-color: #FFF;
 opacity: 0.85;
}

/* Style for anchor elements within the main element */
main a {
 background-color: white;
 border-radius: 1em;
 color: red;
 font-weight: bold;
 text-decoration: none;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer {
 font-size: .70em;
 text-align: center;
 margin-top: 2em;
 color: #FFFFFF;
}

/* Style for anchor elements within the footer element */
footer a{
 color: #FFFFFF;
 text-decoration: none;
}

/* Style hides the tablet class */
.tablet {
 display: none;
}

/* Style rule specifies to not display the equip class */
.equip {
 display: none;
}
.midequip{
display:  none;
}
ul .midequip {
  margin-left:0.5em;
  padding-left: 10em;

}


/* Style for aside element */
aside {
 font-style: italic;
 color : red;
}
/* thiet ke video*/
.video {
  padding: 1em;
  text-align: center;
}

/* Media query for tablet viewport targets screen size with a minimum width of 660px */

@media only screen and (min-width: 660px){

 /* Style specifies a horizontal display for navigation links */
 nav li {
   display: inline;
   float: left;
   margin-left: 1%;
   margin-right: 1%;
   padding-left: 0;
   padding-right: 0;
   width: 18%;
   white-space: nowrap;
   border-radius: 0;
   background-color: transparent;
 }

 /* Style specifies clear and top margin properties for the main element */
 main {
   clear: left;
   margin-top: -0.3em;
   border-radius: 0;
   overflow: auto;
   font-size: 1em;
 }

 /* Style specifies to hide the mobile class */
 .mobile {
   display: none;
 }

 /* Style specifies to display the desktop class */
 .desktop {
   display: inline;
 }

 /* Style specifies a display, float, and padding for the equip class */
 .equip {
   display: inline;
   float: left;
   margin-right: 1em;

 }
 .midequip{
   display: inline;
   float: right;
   margin-top:  0.5em;
 }
 img .midequip{
   margin-right: 2em;
 }
 /* Style specifies a display, list-style-position, and bottom margin for the items class*/
 .items {
   display: block;
   list-style-position: inside;
 }

 /* Style specifies to display the tablet class */
 .tablet {
   display: block;
   margin-top: -3em;
   margin-bottom: -1em;
 }

 /* Style specifies a font weight and top margin for description list terms */
 dt {
   font-weight: bold;
   margin-top: 0.7em;
 }

 /*  Style for h1 element */
 h1 {
   text-align: center;
 }

 /* Style for images within the figure element */
 figure img {
   background-color: black;
   display: inline;
   height: 8em;
   width: 28%;
   margin: 1%;
   padding: 1%;
 }

 /* Style for anchor elements within the figure element */
 figure a {
   background-color: transparent;
   padding: 0;
   text-decoration: none;
 }

 /* Style specifies bottom padding for the section element */
 section {
   padding-bottom: 3em;
 }

 /* Style for h1 element within the section element */
 section h1 {
   text-align: left;
 }

 /* Style for anchor element within the section element */
 section a {
   background-color: transparent;
   color: black;
   font-weight: normal;
   padding: 0;
   text-decoration: underline;
 }

 /* Style for contact class */
 .calendar {
   background-color: transparent;
   color: red;
   padding: 0;
   text-decoration: underline;
 }

 /* Style for article element */
 article {
     background-color: #9EE5ED;
   float: left;
   margin: 0.5%;
   padding: 0.5%;
   text-align: center;
   width: 31%;
 }

 /* Style for image element contained within the main article element */
 main article img {
   border: solid 0.1em #1D1D1C;
   margin-left: auto;
   margin-right: auto;
 }

 /* Style for paragraph element contained within the main article element */
 main article p {
   color: #000;
   margin-top: 2%;
   padding: 1%;
   text-align: left;
 }
 main article ul {
   text-align: left;
 }

 /* Style for aside element */
 aside {
   background-color: #FFFF00;
   border-radius: 0 5em 5em 5em;
   box-shadow: 1em 1em 1em #4C4F4D;
   padding: 1.5em;
   margin: 1em;
 }
}

/* Media query for desktop viewport targets screens with a minimum width of 830px */

@media only screen and (min-width: 1100px) {

 /* Style specifies a width for container */
 #container {
   background-color: orange;
 }

 /* Style to left align header */
 header {
   text-align: left;
 }

 /* Style for nav specifies a float, margin, and width */
 nav {
   float: right;
   margin-top: -7em;
   margin-right: 3em;
   margin-bottom: 0;
   width: 65%;
 }

 /* Style specifies margin and padding for the unordered list within the nav */
 nav ul {
   margin: 0;
   padding-left: 0.50%;
   padding-right: 0.50%;
 }

 /* Style for navigation list items specifies a border radius, border, margin, width, and padding */
 nav li {
   margin-left: 0;
   margin-right: 0;
   padding: 0;
   width: 20%;
 }

 /* Style for navigation links specifies display and padding */
 nav li a {
   display: inline-block;
   padding: 0.7em;

 }

 /* Style rule for pseudo-class */
 nav li a:link {
   color: #000;
 }

 nav li a:visited {
   color: #CCCCFF;
 }

 nav li a:hover {
   color: red;
   font-style: italic;
 }

 /* Style specifies border, shadow, margin, and padding for main element */
 main {
   background-color: White;
 }

 /* Style specifies left and right padding for paragraph elements within the main element */
 main p{
   color: #000;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
 }
 h2{
   color : orange;
   text-align: left;
 }

 /* Style applies color to h1 element */
 h1 {
   color: orange;
 }
 h3 {
   color: orange;
 }

 /* Style applies height and opacity to images within figure element */
 figure img {
   height: 15em;
   opacity: 0.7;
 }

 /* Style removes transparency on hover */
 figure img:hover {
   opacity: 1;
 }
 /* Style specifies a bottom margin for the items class */
.items {
  margin-bottom: 6em;
}
img.image {
display: block;
margin-left: auto;
margin-right: auto;
}


 /* Style specifies a gradient for the body element */
 body {
   background-color: #000;
 }

 /*Thiet lap thuoc tinh cho footer*/
 footer {
   background-color: black;
   margin-top: 0.2em;
   padding: 1em 2em;
 }
 footer p{
   padding-left: 20em;
 }

}
